body{
    font-size:15pt;
    background: #211E2D;
    font-family: sans-serif;
}
.container{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}
.messages{
    width: 300px;
    height: 400px;
    overflow:auto;
}
.messages::-webkit-scrollbar{
    opacity:0;
}
.message{
    list-style-type: none;
    background: #2065FD;
    font-size: 15px;
    color: #ffff;
    padding: 5px;
    border-radius: 10px;
    word-wrap: break-word;
    margin: 8px;

}
.username,.sms{
    background: none;
    width: 300px;
    padding: 5px;
    border: none;
    border-top: 1px solid #ccc;
    outline: none;
    color: aliceblue;
   overflow: auto;
   word-wrap: break-word;
}
.sms{
    width: 250px;
}
.btn{
    background: none;
    border: none;
    padding: 9px;
    color: #fff;
}
i{
    font-size: 15pt;
    color: #ffff;
}